.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding: 10px;
    grid-gap: 10px;
    text-align: justify;
}
img{
    height: 300px;
}
body{
    background-color: black
}
.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
